[Desktop Entry]
Type=Application
Name=App URL Handler
Exec=python /home/sowgro/Code/url-handler/url-handler.py %u
StartupNotify=false
MimeType=x-scheme-handler/http;x-scheme-handler/https;
NoDisplay=true
