[Desktop Entry]
Name=URL Handler Configuration
Exec=url-handler-configuration
Icon=net.sowgro.URLHandler.Configuration
Type=Application
Terminal=false
Categories=Settings;GNOME;
